html{
    scroll-behavior: smooth;
}
/* .body{
    font-family: 'Roboto', sans-serif;
} */
.header{
    background-image: url(../media/futuristic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh;
    width: 100vw; */ 
    /* ask bryce about viewport height to fill up screen */
    color: white;
    text-align: center;
    height: 300px;
    padding-top: 68px;
    font-family: 'Roboto', sans-serif;
}
.top-bar{
    top: 0; left: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: #252934;
    border-bottom: 2px solid #fff;
}
.top-bar ul{
    list-style: none;
    text-align: left;
}
.top-bar li{
    display: inline;
}
.top-bar a:hover{
    color: #bbedfd;
}
.top-bar a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.View-My-Work{
    background: #252934;
    padding: 14px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.View-My-Work:hover{
    box-shadow:0px 0px 10px 5px #fff;
}
/* .button:hover{
    box-shadow: 0px 0px 10px 5px #fff;
}
.little-about img:hover{
    box-shadow: 0px 0px 12px 5px blueviolet;
} */
.about{
    background-color: #bbedfd;
    font-family: 'Roboto', sans-serif;
}
.about h1{
    text-align: center;
    border-bottom: 2px grey solid;
}
.about h2{
    font-size: 25px;
}
.projects{
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
.projects h1{
    text-align: center;
    border-bottom: 2px grey solid;
}
.picture-projects p{
    font-weight: bolder;
}
.contact{
    background-color: #252934;
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
}
.contact h1{
    text-align: center;
    border-bottom: 2px grey solid;
}
.contact a{
    color: #bbedfd;
    text-decoration: none;
}
.contact ul{
    list-style: none;
    font-size: 17px;
    text-align: center;

}
.contact p{
    text-align: center;
    font-size: 22px;

}
.View-My-Work:hover span{
    display: inline-block;
    animation: View-My-Work 1s forwards;
}
.projects img{
    width: 100%;
}
.alexle{
    animation: alexle 3s forwards;
}
@keyframes alexle{
    0%{
        opacity: -2;
    }
    45%{
        opacity: -1;
    }
    50%{
        transform: translateX(-600px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes View-My-Work{
    100%{
        transform: rotate(90deg);
    }
}